/* Base styles */
.event_card {
  width: 450px;
  height: 290px;
  position: relative;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  margin-left: 120px;
  margin-top: 125px;
  margin-bottom: 350px;
}

.heading {
  margin-left: 100px;
  margin-top: -200px;
  margin-bottom: 400px;
}

.image {
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
  border-radius: 100px;
  margin-left: 125px;
  margin-top: -400px;
}

.name {
  text-align: center;
  color: #2A2E3A;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 30px;
  word-wrap: break-word;
}

.event_type {
  text-align: center;
  color: #656C73;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 10px;
  margin-top: -10px;
}

.Vector {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 9px;
  left: 10px;
  background-color: #4b5563;
}

.LinkedinProfile {
  position: absolute;
  top: 7px;
  left: 30px;
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: sans-serif;
}

.vectorimg1 {
  position: absolute;
  margin-left: 1700px;
  margin-top: 550px;
  width: 200px;
}

.vectorimg2 {
  position: absolute;
  margin-left: -20px;
}

.col-md-4 {
  margin-bottom: 0px; /* Adjust this value to reduce or increase space between columns */
}

/* Responsive styles for 1280px */
@media (min-width: 1280px) {
  .event_card {
    width: 80%;
    height: 190px;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 170px;
  }

  .image {
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-top: -200px;
  }

  .heading {
    margin-left: 10%;
    transform: translateX(-50%);
    margin-top: -150px;
    margin-bottom: 200px;
  }

  .name {
    font-size: 20px;
    margin-top: 20px;
  }

  .event_type {
    font-size: 14px;
    margin-top: 10px;
  }

  .vectorimg1 {
    width: 80%;
    margin-top: 150px;
    max-width: 160px;
    margin-left: calc(50% - 80px);
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

/* Responsive styles for 1024px */
@media (max-width: 1024px) {
  .event_card {
    width: 250px;
    height: 220px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 120px;
  }

  .image {
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    margin-top: -100px;
  }

  .heading {
    margin-left: 10%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 120px;
  }

  .name {
    font-size: 20px;
    margin-top: 20px;
  }

  .event_type {
    font-size: 14px;
    margin-top: 10px;
  }

  .vectorimg1 {
    width: 80%;
    margin-top: 150px;
    max-width: 160px;
    margin-left: calc(50% - 80px);
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

/* Responsive styles for 768px */
@media (max-width: 768px) {
  .event_card {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .image {
    width: 120px;
    height: auto;
    margin: 20px auto;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .name {
    font-size: 20px;
    margin-top: 0px;
  }

  .event_type {
    font-size: 14px;
    margin-top: 10px;
  }

  .vectorimg1 {
    width: 70%;
    margin-top: 250px;
    max-width: 180px;
    margin-left: calc(50% - 90px);
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

/* Responsive styles for 480px */
@media (max-width: 480px) {
  .event_card {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .image {
    width: 120px;
    margin: 20px auto;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .name {
    font-size: 18px;
    margin-top: 20px;
  }

  .event_type {
    font-size: 12px;
    margin-top: 10px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin: 20px auto;
  }

  .vectorimg2 {
    max-width: 160px;
    margin: 0 auto;
  }
}
