.card_container {
  width: 450px;
  height: 250px;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  margin-left: 400px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.image {
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
  border-radius: 100px;  
  margin-left: 125px;
  margin-top: -50px;
}

.name {
  text-align: center;
  color: #2A2E3A;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 35px;
  word-wrap: break-word;
}

.eventType {
  text-align: center;
  color: #656C73;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.event {
  text-align: center;
  color: #656C73;
  font-size: 9px;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 5px;
  
}

.event-title {
  color: #656C73;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 200;
  text-decoration: underline;
  margin-left: 70px;
  
}




.Vector {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 9px;
    left: 10px;
    background-color: #4b5563;
  }
  
  .LinkedinProfile {
    position: absolute;
    top: 7px;
    left: 30px;
    text-align: center;
    color: #4b5563;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: sans-serif;
  }
  
  .Group718 {
    width: 137px;
    height: 32px;
    position: relative;
  }
  
  .Rectangle191 {
    width: 137px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #4b5563;
    border-radius: 9999px;
  }

  .vectorimg1{
    position:absolute;
    margin-left: 1700px;
    margin-top: 550px;
  }

  .vectorimg2{
    position: absolute;
    margin-left: -20px;
  }
  