/* Base styles */
.Rectangle198 {
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px;
  border-radius: 0.75rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 135px;
}

.customRow2 .Rectangle198 {
  margin-left: 120px;
}

.MaskGroup {
  width: 94px;
  height: 94px;
  position: relative;
}

.Ellipse44 {
  width: 94px;
  height: 94px;
  position: absolute;
  top: 0;
  left: 150px;
  border-radius: 9999px;
}

.image1 {
  width: 93.51px;
  height: 93.51px;
  position: absolute;
  top: 0.49px;
  left: 0.49px;
}

.profilepic {
  width: 94px;
  height: 94px;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  text-align: center;
  color: #111827;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  text-align: center;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

.Description {
  word-wrap: break-word;
  margin-left: 20px;
}

.Group718 {
  width: 137px;
  height: 32px;
  position: relative;
  left: 120px;
}

.Rectangle191 {
  width: 137px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #4b5563;
  border-radius: 9999px;
}

.Quoteimg {
  width: 700px;
  height: 300px;
  margin-left: 600px;
}

.Vector {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 4px;
}

.LinkedinProfile {
  position: absolute;
  top: 7px;
  left: 30px;
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: sans-serif;
}

.dotimg {
  max-width: 400px;
}

/* Media queries for responsiveness */

/* Extra small devices (phones, 0px and up) */
@media (max-width: 575.98px) {
  .Rectangle198 {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: auto;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: center;
    padding: 10px;
  }

  .Group718 {
    width: 100%;
    left: auto;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 100%;
  }

  .Quoteimg {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Rectangle198 {
    width: 330px;
    height: 90%;
    margin-left: -140px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: 120%;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 45%;
    left: 80px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 100%;
  }

  .dotimg{
    width: 330px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 80%;
    margin-top: -90px;
    margin-bottom: -60px;
    margin-left: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Rectangle198 {
    width: 250px;
    height: 90%;
    margin-left: -170px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .customCol {
    margin-left: 40px;
  }

  .Ellipse44 {
    position: relative;
    left: 80px;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 85%;
    left: 55px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 70%;
  }

  .dotimg{
    width: 250px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 60%;
    margin-top: -90px;
    margin-bottom: -60px;
    margin-left: 190px;
  }

  

  .customRow2 .Rectangle198 {
    margin-left: -15px;
  }

  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Rectangle198 {
    width: 340px;
    height: 90%;
    margin-left: -180px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .customCol {
    margin-left: 50px;
  }
  .Ellipse44 {
    position: relative;
    left: 110px;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 65%;
    left: 80px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 70%;
  }

  .dotimg{
    width: 340px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 40%;
    margin-top: -90px;
    margin-bottom: -60px;
    margin-left: 340px;
  }

  .customRow2 .Group718 {
    width: 65%;
    margin-top: -5px;
    margin-left: 5px;
  }

  .customRow2 .Rectangle198 {
    margin-left: -10px;
  }

  .customRow2 .dotimg {
    width: 345px;
  }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .Rectangle198 {
    width: 90%;
    height: 390px;
    margin-left: -20px;
    margin-right: auto;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: 150px;
    top: -50px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 45%;
    left: 125px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 80%;
  }

  .dotimg{
    width: 399px;
    margin-left: -10px;
    margin-top: -7px;
  }

  .Quoteimg {
    width: 50%;
    margin-top: -90px;
    margin-bottom: -60px;
    margin-left: 340px;
  }

  .customRow2 .Group718 {
    width: 47%;
    margin-top: -5px;
    margin-left: 0px;
  }

  .customRow2 .Rectangle198 {
    margin-left: 5px;
  }

  .customRow2 .dotimg {
    width: 392px;
  }

}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .Rectangle198 {
    width: 50%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    margin-top: 15px;
    margin-left: -40px;
  }

  .Description {
    margin-left: 0;
    text-align: justify;
    padding: 10px;
  }

  .Group718 {
   margin-left: -40px;
    }

  .Rectangle191 {
    width: 100%;
  }

  .LinkedinProfile
  {
    margin-left: 5px;
  }

  .Quoteimg {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 550px;
  }

  .dotimg{
    width: 338px;
    margin-left: -10px;
  }

  .customRow2 .Group718 {
    width: 50%;
    margin-left: -50px;
  }

  .customRow2 .Rectangle198{
    margin-left: 140px;
  }

  .customRow2 .Ellipse44{
    margin-left: -40px;
  }

  .customRow2 .dotimg {
    width: 310px;
  }
}

/* Devices with width 480px to 575.98px */
@media (min-width: 480px) and (max-width: 575.98px) {
  .Rectangle198 {
    width: 340px;
    height: 90%;
    margin-left: -190px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: 120%;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 45%;
    left: 80px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 100%;
  }

  .dotimg{
    width: 340px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .customRow2 .Rectangle198 {
    margin-left: 65px;
  }
}

/* Devices with width 400px to 479.98px */
@media (min-width: 400px) and (max-width: 479.98px) {
  .Rectangle198 {
    width: 340px;
    height: 90%;
    margin-left: -215px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: 120%;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 45%;
    left: 80px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 100%;
  }

  .dotimg{
    width: 340px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .customRow2 .Rectangle198 {
    margin-left: 45px;
  }
}


@media (min-width: 320px) and (max-width: 399.98px) {
  .Rectangle198 {
    width: 340px;
    height: 90%;
    margin-left: -240px;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px;
  }

  .Ellipse44 {
    position: relative;
    left: 120%;
    top: -30px;
    margin: 0 auto;
  }

  .Description {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .Group718 {
    width: 45%;
    left: 80px;
    margin-top: 10px;
  }

  .Rectangle191 {
    width: 100%;
  }

  .dotimg{
    width: 340px;
    margin-left: -10px;
    margin-top: -7px;
    position: relative;
  }

  .Quoteimg {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .customRow2 .Rectangle198 {
    margin-left: 30px;
  }
}
