/* Base styles */
.card {
  width: 504px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: -1px;
  margin-left: 320px;
  padding: 1.25rem;
  overflow: hidden;
}

.Quoteimg {
  width: 700px;
  height: 300px;
  margin-left: 600px;
}

.verticalimg {
  position: absolute;
  height: 330px;
}

.card h2 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card p {
  color: #4b5563;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  width: 200px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  margin-left: 120px;
}

.group .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.container {
  width: 500px;
  height: 330px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  margin-top: 20px;
  margin-left: 320px;
  overflow: hidden;
}

.imageContainer {
  width: 94px;
  height: 94px;
  position: absolute;
}

.imageContainer .Ellipse {
  width: 94px;
  height: 94px;
  position: absolute;
  background-color: #34d399;
  border-radius: 9999px;
}

.imageContainer img {
  width: 94px;
  height: 94px;
  position: absolute;
}

.imageContainer .Img92921 {
  width: 108.95px;
  height: 94px;
  position: absolute;
  left: 0;
}

.name {
  color: #111827;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-left: 120px;
}

.designation {
  color: #4b5563;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-left: 120px;
}

.description {
  width: 353px;
  text-align: justify;
  color: #4b5563;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 120px;
}

.profilepic {
  margin-left: 10px;
}

.founderimg {
  width: 200px;
  margin-top: -210px;
  margin-left: 130px;
  position: relative;
}

.header {
  width: 505px;
  height: 58px;
  background: #4285F4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.facultyHeader {
  background: green;
}

.dotimg {
  max-width: 700px;
  max-height: 400px;
  position: relative;
  left: -20px;
  top: -40px;
}

.Vector {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 4px;
}

@media (max-width: 1340px) {
  .Quoteimg {
    max-width: 100%;
    margin-left: 330px;
    margin-bottom: -50px;
  }

  .verticalimg {
    max-width: 400px;
    max-height: 380px;
  }

  .card {
    width: 450px;
    margin-left: 150px;
    margin-top: 10px;
  }

  .dotimg {
    max-width: 460px;
  }

  .header {
    width: 450px;
    margin-left: 150px;
    height: auto;
    font-size: 1.5rem;
  }

  .group {
    margin-left: 100px;
    flex-direction: row;
  }

  .group .icon {
    margin-left: 10px;
  }

  .container {
    width: 450px;
    height: 330px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .name,
  .designation,
  .description {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .designation {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .description {
    width: 300px;
    font-size:small;
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .founderimg {
    margin-top: -170px;
    margin-bottom: 20px;
    width: 150px;
  }
}

/* Responsive styles */
@media (max-width: 1024px) {
  .Quoteimg {
    max-width: 100%;
    margin-left: 180px;
    margin-bottom: -50px;
  }

  .verticalimg {
    max-width: 250px;
    max-height: 380px;
  }

  .card {
    width: 100%;
    height: auto;
    margin-left: 100px;
    margin-top: 10px;
  }

  .dotimg {
    max-width: 460px;
  }

  .header {
    width: 100%;
    margin-left: 100px;
    height: auto;
    font-size: 1.5rem;
  }

  .group {
    margin-top: 10px;
    margin-left: 70px;
    justify-content: baseline;
    flex-direction: row;
  }

  .group .icon {
    margin-left: 10px;
    margin-top: 10px;
  }

  .foundername{
    margin-top: 20px;
    margin-left: -10px;
    width: 400px;
  }

  .founderdescription{
    margin-top: 20px;
    margin-bottom: -10px;
    word-wrap: break-word;
    width: 370px;
  }

  .container {
    width: 400px;
    height: 330px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .name,
  .designation,
  .description {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .designation {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .description {
    margin-top: 5px;
    margin-left: 95px;
    word-wrap: break-word;
    font: 1em sans-serif;
    width: 300px;
  }

  .founderimg {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 150px;
  }
}

@media (max-width:991px) {

  .Quoteimg{
    margin-left: 130px;
  }

  .card {
    max-width:  450px;
    margin-bottom: 20px;
    margin-left: 270px;
  }

  .header{
    max-width: 450px;
    margin-left: 270px;
  }

  .container{
    width: 450px;
    margin-left: 270px;
  }

  .group {
    margin-top: 10px;
    margin-left: 100px;
    justify-content: baseline;
    flex-direction: row;
  }

  .description{
    margin-left: 120px;
  }
  
}


/* Responsive styles */
@media (max-width: 767px) {
  .Quoteimg {
    max-width: 100%;
    margin-left: 50px;
    margin-bottom: -50px;
  }

  .verticalimg {
    max-width: 250px;
    max-height: 380px;
  }

  .card {
    width: 60%;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .dotimg {
    max-width: 460px;
  }

  .header {
    width: 60%;
    margin-left: 150px;
    height: auto;
    font-size: 1.5rem;
  }

  .group {
    margin-left: 100px;
    flex-direction: row;
  }

  .group .icon {
    margin-left: 10px;
  }

  .container {
    width: 500px;
    height: 330px;
    margin-left: 130px;
    margin-top: 50px;
    padding: 0px;
  }

  .name,
  .designation,
  .description {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .designation {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .description {
    margin-top: 5px;
    margin-left: 120px;
    word-wrap: break-word;
  }

  .founderimg {
    margin-top: -170px;
    margin-bottom: 20px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .Quoteimg {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    display: block;
  }

  .card {
    width: 70%;
    height: auto;
    margin: 15px auto;
  }

  .dotimg {
    max-width: 335px;
  }

  .group {
    margin-left: 20px;
    flex-direction: row;
  }

  .group .icon {
    margin-left: 10px;
  }

  .foundername{
    margin-left: 10px;
    font-size: 0.75rem;
    width: 250px;
  }

  .container {
    width: 70%;
    height: 330px;
    margin-left: 65px;
    margin-bottom: 40px;
  }

  .verticalimg {
    max-width: 300px;
    max-height: 350px;
  }

  .name {
    margin-left: 125px;
    margin-top: 40px;
    font-size: 0.875rem;
  }

  .designation {
    margin-left: 125px;
    margin-top: 10px;
    font-size: 0.875rem;
  }

  .description {
    width: 200px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 0.75rem;
  }

  .founderimg {
    width: 150px;
    height: 150px;
    margin-top: -150px;
    margin-left: 80px;
    transform: translateX(-10%);
  }

  .header {
    width: 70%;
    margin: 5px auto;
    height: auto;
    font-size: 1.25rem;
  }
}


@media (max-width: 400px) {
  .Quoteimg {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    display: block;
  }

  .card {
    width: 70%;
    height: auto;
    margin: 15px auto;
  }

  .dotimg {
    max-width: 335px;
  }

  .group {
    margin-left: 10px;
    flex-direction: row;
  }

  .group .icon {
    margin-left: 10px;
  }

  .container {
    width: 300px;
    height: 330px;
    margin-left: 42px;
    margin-bottom: 40px;
  }

  .verticalimg {
    max-width: 300px;
    max-height: 350px;
  }

  .name {
    margin-left: 125px;
    margin-top: 40px;
    font-size: 0.875rem;
  }

  .designation {
    margin-left: 125px;
    margin-top: 10px;
    font-size: 0.875rem;
  }

  .description {
    width: 200px;
    margin-left: 90px;
    margin-top: 20px;
    font-size: 0.65rem;
  }

  .founderimg {
    width: 150px;
    height: 150px;
    margin-top: -150px;
    margin-left: 70px;
    transform: translateX(-20%);
  }

  .header {
    width: 70%;
    margin: 5px auto;
    height: auto;
    font-size: 1.25rem;
  }
}
