
.card {
  width: 504px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: -1px;
  margin-left: 400px;
  padding: 1.25rem;
}

.Quoteimg{
  width: 700px;
  height: 300px;
  margin-left: 600px;
}

.card h2 {
  color: #3b82f6;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.card p {
  color: #4b5563;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.group {
  width: 170px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.group .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group .icon .Rectangle {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  border: 1px solid #4b5563;
}

.group .icon .Vector {
  width: 16px;
  height: 16px;
  background-color: #4b5563;
}

.group .icon .Email {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  border: 1px solid #4b5563;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.group .icon .Email .Vector {
  width: 18px;
  height: 13px;
  background-color: #4b5563;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 500px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  margin-top: 10px;
  margin-left: 100px;
}

.imageContainer {
  width: 94px;
  height: 94px;
  position: relative;
}

.imageContainer .Ellipse {
  width: 94px;
  height: 94px;
  position: absolute;
  background-color: #34d399;
  border-radius: 9999px;
}

.imageContainer img {
  width: 94px;
  height: 94px;
  position: absolute;
}

.imageContainer .Img92921 {
  width: 108.95px;
  height: 94px;
  position: absolute;
  left: 0;
}

.name {
  color: #111827;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: capitalize;
}

.designation {
  color: #4b5563;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: capitalize;
}

.description {
  width: 353px;
  text-align: justify;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}


.header {
  width: 505px;
  height: 58px;
  background: #4285F4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 400px;
}

.facultyHeader {
  background: #34D399;
}

.dotimg{
  width: 109%;
  height: auto;
  position: relative;
  left: -20px;
  top: -40px;

}

