.bg-dot-image {
    background-image: url('/dotimgverticalred.svg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
  }
  
  .profile-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  