/* Base styles */
.card_container {
  width: 450px;
  height: 350px;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  margin-left: 350px;
  margin-top: 145px;
  margin-bottom: 320px;
}

.image {
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
  border-radius: 100px;  
  margin-left: 125px;
  margin-top: -350px;
}

.heading {
  margin-left: 200px;
  margin-top: -200px;
  margin-bottom: 300px;
}

.name {
  text-align: center;
  color: #2A2E3A;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
}

.position {
  text-align: center;
  color: #656C73;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}

.event {
  text-align: center;
  color: #656C73;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
}

.eventTitle {
  text-align: center;
  color: #656C73;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.Vector {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #4b5563;
}

.LinkedinProfile {
  position: absolute;
  top: 7px;
  left: 30px;
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: sans-serif;
}

.Group718 {
  width: 137px;
  height: 32px;
  position: relative;
  left: 150px;
  top: 10px;
}

.Rectangle191 {
  width: 137px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #4b5563;
  border-radius: 9999px;
}

.vectorimg1 {
  position: absolute;
  margin-left: 1600px;
  margin-top: 550px;
}

.vectorimg2 {
  position: absolute;
  margin-left: -20px;
}

/* Responsive styles */
@media (max-width: 1340px) {
  .card_container {
    margin-left: 170px;
    margin-top: 160px;
    margin-bottom: 70px;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-top: -70px;
    margin-left: 155px;
  }

  .heading {
    margin-left: 90px;
    margin-top: 100px; 
    margin-bottom: 10px;     
  }

  .name, .position, .event, .eventTitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: 5px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 550px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

@media (max-width: 1024px) {
  .card_container {
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 320px;
    height: 340px;
  }

  .image {
    width: 60%;
    margin-top: -60px;
    margin-left: 55px;
  }

  .heading {
    margin-left: 70px;
    margin-top: 80px; 
    margin-bottom: -50px;     
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: -65px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 320px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .card_container {
    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 50px;
    width: 350px;
    height: 430px;
  }

  .image {
    width: 60%;
    margin-top: -80px;
    margin-left: 75px;
  }

  .heading {
    margin-left: 90px;
    margin-top: 100px; 
    margin-bottom: -70px;     
  }

  .name, .position, .event, .eventTitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: -50px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 620px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .card_container {
    margin-bottom: auto;
    width: 70%; /* Ensure it takes the full width of the viewport */
    margin-left: 60px;
    height: 350px; /* Center align the container */
  }

  .image {
    width: 50%;
    height: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    text-align: center; /* Center align heading */
    margin-top: 20px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: auto;
    margin-right: auto;
  }

  .Group718{
    margin-left: -70px;
  }
  

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .card_container {
    margin-bottom: auto;
    width: 70%; /* Ensure it takes the full width of the viewport */
    margin-left: 60px;
    height: 300px; /* Center align the container */
  }

  .image {
    width: 60%;
    height: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    text-align: center; /* Center align heading */
    margin-top: 20px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: auto;
    margin-right: auto;
  }

  .Group718{
    margin-left: -90px;
  }
  

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
