/* Base styles */
.card_container {
  width: 450px;
  height: 350px;
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  margin-left: 250px;
  margin-top: 145px;
  margin-bottom: 320px;
}

.image {
  width: 200px;
  height: 200px;
  margin-left: 125px;
  margin-top: -350px;
}

.heading {
  margin-left: 200px;
  margin-top: -200px;
  margin-bottom: 300px;
}

.name {
  text-align: center;
  color: #2A2E3A;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
}

.position {
  text-align: center;
  color: #656C73;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
}

.event {
  text-align: center;
  color: #656C73;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
}

.eventTitle {
  text-align: center;
  color: #656C73;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.Vector {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #4b5563;
}

.LinkedinProfile {
  position: absolute;
  top: 7px;
  left: 30px;
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: sans-serif;
}

.Group718 {
  width: 137px;
  height: 32px;
  position: relative;
  left: 150px;
  top: 10px;
}

.Rectangle191 {
  width: 137px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #4b5563;
  border-radius: 9999px;
}

.vectorimg1 {
  position: absolute;
  margin-left: 1600px;
  margin-top: 550px;
}

.vectorimg2 {
  position: absolute;
  margin-left: -20px;
}

/* Responsive styles */
@media (min-width: 1280px) {
  .card_container {
    margin-left: 350px;
    margin-top: 130px;
    margin-bottom: 40px;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-left: 150px;
  }

  .heading {
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: 5px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 1170px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .card_container {
    margin-left: 168px;
    margin-top: 140px;
    margin-bottom: 50px;
    width: 400px;
    height: 370px;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-top: -70px;
    margin-left: 55px;
  }

  .heading {
    margin-left: 150px;
    margin-top: 90px;
    margin-bottom: 20px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: 0;
  }

  .eventTitle{
    margin-bottom: 15px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 800px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0;
  }

  .Group718{
    margin-left: -20px;
  }

  
}

@media (min-width: 1024px) {
  .card_container {
    margin-left: 250px;
    margin-top: 150px;
    margin-bottom: 20px;
    width: 320px;
    height: 270px;
  }

  .image {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: 105px;
  }

  .heading {
    margin-left: 70px;
    margin-top: 80px;
    margin-bottom: -50px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: -65px;
  }

  .vectorimg1 {
    width: 150px;
    max-width: 160px;
    margin-left: 870px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card_container {
    margin-left: 150px;
    margin-top: 120px;
    margin-bottom: 40px;
    width: 380px;
    height: 300px;
  }

  .image {
    width: 130px;
    height: 130px;
    margin-top: -60px;
    margin-left: 125px;
  }

  .heading {
    margin-left: 140px;
    margin-top: 90px; 
    margin-bottom: 20px;
  }

  .name {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: 0;
  }

  .vectorimg1 {
    width: 150px;
    max-width: 160px;
    margin-left: 860px;
    display:none;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0;
  }

  .Group718{
    margin-left: -40px;
  }
}


@media (max-width: 768px) {
  .card_container {
    margin-top: 180px;
    margin-left: 200px;
    margin-bottom: 50px;
    width: 350px;
    height: 310px;
  }

  .image {
    width: 120px;
    height: 120px;
    margin-top: -80px;
    margin-left: 110px;
  }

  .heading {
    margin-left: 90px;
    margin-top: 100px;
    margin-bottom: -70px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 1rem;
    margin-top: 10px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: -50px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: 620px;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: 0px;
  }

  .Group718{
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .card_container {
    margin-bottom: auto;
    width: 70%;
    margin-left: 60px;
    height: 320px;
  }

  .image {
    width: 50%;
    height: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: -115px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: auto;
    margin-right: auto;
  }

  .Group718 {
    margin-left: -70px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
   display: none;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .card_container {
    margin-bottom: auto;
    width: 70%;
    margin-left: 60px;
    height: 300px;
  }

  .image {
    width: 60%;
    height: 150px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: -115px;
  }

  .name, .position, .event, .eventTitle {
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .Rectangle191, .Vector, .LinkedinProfile {
    margin-left: auto;
    margin-right: auto;
  }

  .Group718 {
    margin-left: -90px;
  }

  .vectorimg1 {
    width: 80%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .vectorimg2 {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
