/* Base styles */
.member_card {
  width: 337px;
  height: 360px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the card */
  margin-left: 250px;
  border-radius: 0.75rem;
}

.card_content {
  width: 94px;
  height: 94px;
  position: relative;
}

.customCol {
  margin-left: 100px;
}

.customrowDev {
  margin-left: 40px;
}

.customcolDev {
  margin-left: 170px;
}

.Quoteimg {
  width: 900px;
  height: 400px;
  margin-left: 490px;
}

.image_div {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  margin-left: 110px; /* Center the image */
  border-radius: 9999px;
}

.profilepic {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #111827;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  text-transform: capitalize;
}

.role {
  text-align: center;
  color: #4b5563;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: sans-serif;
}

.member_button {
  width: 180px;
  height: 40px;
  position: relative;
  margin: 50px auto 0;
  margin-top: 50px;
}

.btn_border {
  width: 180px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #4b5563;
  border-radius: 9999px;
}

.icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.btn_text {
  position: absolute;
  top: 8px;
  left: 45px;
  text-align: center;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 400;
  font-family: sans-serif;
}

.dotimg {
  max-width: 600px;
}

.customCol2 .member_card {
  margin-left: -360px;
}

/* Responsive styles for small screens */
@media (min-width: 1280px) {
  .Quoteimg {
    width: 40%;
    height: auto;
    margin-top: 40px;
    margin-left: 520px;
    margin-right: auto;
  }

  .member_card {
    width: 300px;
    height: 330px;
    margin-left: 290px;
  }

  

  .image_div {
    width: 110px;
    height: 100px;
    margin-left: 100px;
    margin-right: auto;
  }

  .name {
    font-size: 1.25rem;
  }

  .role {
    font-size: 1rem;
  }

  .member_button {
    width: 160px;
    height: 40px;
  }

  .btn_border {
    width: 100%;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .btn_text {
    font-size: 0.875rem;
  }

  .dotimg {
    max-width: 300px;
  }

  .customCol2 .member_card {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .Quoteimg {
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .member_card {
    width: 250px;
    margin: 20px auto;
    margin-left: 10px;
  }

  .image_div {
    width: 120px;
    height: 120px;
    margin-left: 70px;
    margin-right: auto;
  }

  .name {
    font-size: 1.25rem;
  }

  .role {
    font-size: 1rem;
  }

  .member_button {
    width: 150px;
    height: 40px;
  }

  .btn_border {
    width: 100%;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .btn_text {
    font-size: 0.875rem;
  }

  .dotimg {
    max-width: 250px;
  }

  .customCol2 .member_card {
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .Quoteimg {
    width: 80%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .member_card {
    width: 250px;
    margin: 20px auto;
  }

  .image_div {
    width: 120px;
    height: 120px;
    margin-left: 75px;
    margin-right: auto;
  }

  .name {
    font-size: 1.25rem;
  }

  .role {
    font-size: 1rem;
  }

  .member_button {
    width: 140px;
    height: 40px;
  }

  .btn_border {
    width: 100%;
    height: 40px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .btn_text {
    width: 120px;
    font-size: 0.875rem;
    margin-left: -17px;
  }

  .dotimg {
    max-width: 250px;
  }

  .customCol2 .member_card {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .Quoteimg {
    max-width: 80%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .dotimg {
    max-width: 200px;
  }

  .customRow {
    justify-content: space-around;
  }

  .customCol {
    margin-bottom: 10px;
  }

  .dotimg {
    max-width: 300px;
  }

  .member_card {
    width: 300px;
    margin-left: 120px;
  }

  .image_div {
    width: 120px;
    height: 100px;
    margin-left: 95px;
  }

  .name {
    margin-left: 10px;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .role {
    font-size: 0.975rem;
    margin-left: 10px;
  }

  .member_button {
    max-width: 140px;
    margin-left: 70px;
  }

  .btn_border {
    height: 28px;
    top: 2px;
    left: 10px;
  }

  .icon {
    width: 18px;
    height: 18px;
    left: 16px;
  }

  .btn_text {
    width: 100px;
    font-size: 0.85rem;
  }

  .customCol2 .member_card {
    margin-left: -380px;
  }
}

/* Responsive styles for extra small screens */
@media (max-width: 480px) {
  .customCol2 .member_card {
    margin-left: -85px;
  }

  .Quoteimg {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 9%;
    display: block;
  }

  .member_card {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-left: 130px; /* Center the card */
    transform: translateX(-65%);
  }

  .image_div {
    width: 80px;
    height: 80px;
    left: 20%; /* Center the image */
    transform: translateX(-70%);
  }

  .profilepic {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 1rem;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center; /* Center the name text */
  }

  .role {
    font-size: 0.75rem;
    margin-bottom: 40px;
    text-align: center; /* Center the role text */
  }

  .member_button {
    width: 350px; /* Adjusted width to fit better on small screens */
    height: 30px; /* Adjusted height to fit better on small screens */
    margin: 10px auto; /* Center the button */
    left: -7px;
  }

  .btn_border {
    width: 115%; /* Make border width 100% of the button */
    height: 100%; /* Make border height 100% of the button */
    border: 1px solid #4b5563;
    border-radius: 9999px;
    top: -5px;
    position: relative;
  }

  .icon {
    width: 24px; /* Adjusted width to fit better on small screens */
    height: 24px; /* Adjusted height to fit better on small screens */
    top: -2px;
    left: 3px;
    position: absolute;
  }

  .btn_text {
    width: 100px;
    font-size: 0.875rem;
    top: 0px;
    left: 32px;
    position: absolute;
  }

  .dotimg {
    display: block;
    width: 200px;
  }
}

@media (max-width: 400px) {
  .customCol2 .member_card {
    margin-left: -85px;
  }

  .Quoteimg {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 9%;
    display: block;
  }

  .member_card {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-left: 105px; /* Center the card */
    transform: translateX(-65%);
  }

  .image_div {
    width: 80px;
    height: 80px;
    left: 20%; /* Center the image */
    transform: translateX(-70%);
  }

  .profilepic {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 1rem;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center; /* Center the name text */
  }

  .role {
    font-size: 0.75rem;
    margin-bottom: 40px;
    text-align: center; /* Center the role text */
  }

  .member_button {
    width: 350px; /* Adjusted width to fit better on small screens */
    height: 30px; /* Adjusted height to fit better on small screens */
    margin: 10px auto; /* Center the button */
    left: -7px;
  }

  .btn_border {
    width: 115%; /* Make border width 100% of the button */
    height: 100%; /* Make border height 100% of the button */
    border: 1px solid #4b5563;
    border-radius: 9999px;
    top: -5px;
    position: relative;
  }

  .icon {
    width: 24px; /* Adjusted width to fit better on small screens */
    height: 24px; /* Adjusted height to fit better on small screens */
    top: -2px;
    left: 3px;
    position: absolute;
  }

  .btn_text {
    width: 100px;
    font-size: 0.875rem;
    top: 0px;
    left: 32px;
    position: absolute;
  }

  .dotimg {
    display: block;
    width: 200px;
  }
}
